services:
  wireguard:
    image: linuxserver/wireguard
    container_name: wireguard-gateway
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ./config:/config
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    networks:
      - external
      - frontend
    restart: unless-stopped

networks:
  frontend:
    driver: bridge
    external: true
    
  external:
    driver: bridge
    external: true
    
  monitoring:
    driver: bridge
    external: true
    
  backup:
    driver: bridge
    external: true
