http:
  middlewares:
    authelia:
      forwardAuth:
        address: http://172.20.0.12:9091/api/verify?rd=https://auth.mydia.com
        trustForwardHeader: true
        authResponseHeaders:
          - Remote-User
          - Remote-Groups
          - Remote-Name
          - Remote-Email
