---
theme: dark

identity_validation:
  reset_password:
    jwt_secret: ${JWT_SECRET}

server:
  address: tcp://0.0.0.0:9091

log:
  level: info

totp:
  issuer: mydia.com

authentication_backend:
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id
      iterations: 3
      salt_length: 16
      parallelism: 8
      memory: 1024

access_control:
  default_policy: deny
  rules:
    # Dashboard Homarr - 2FA
    - domain:
        - mydia.com
        - home.mydia.com
      policy: two_factor
    
    # WireGuard UI - 2FA
    - domain: wg.mydia.com
      policy: two_factor
    
    # Traefik dashboard - 2FA
    - domain: traefik.mydia.com
      policy: two_factor
    
    # Services - 1FA
    - domain:
        - music.mydia.com
        - stream.mydia.com
      policy: one_factor

session:
  secret: ${AUTHELIA_SESSION_SECRET}
  cookies:
    - domain: mydia.com
      authelia_url: https://auth.mydia.com
      default_redirection_url: https://mydia.com
      same_site: lax
      expiration: 1h
      inactivity: 5m
      remember_me: 1M
  redis:
    host: redis
    port: 6379

regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m

storage:
  encryption_key: ${AUTHELIA_STORAGE_KEY}
  local:
    path: /config/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt
