services:
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    restart: unless-stopped
    
    environment:
      ND_SCANSCHEDULE: "1h"                    # Scan automatique toutes les heures
      ND_LOGLEVEL: "info"                      # Niveau de logs (debug, info, warn, error)
      ND_SESSIONTIMEOUT: "24h"                 # Durée de session
      ND_BASEURL: "/navidrome"                           # Sera rempli plus tard avec Traefik
      
      ND_MUSICFOLDER: /music                   # Dossier musique dans le container
      ND_DATAFOLDER: /data                     # Dossier données dans le container
      
      ND_SCANONSTART: "true"

      ND_ENABLELDAPAUTH: "true"
      ND_LDAPSERVER: "authentik-ldap:3389"
      ND_LDAPBASEDN: "dc=ldap,dc=goauthentik,dc=io"
      ND_LDAPBINDDN: "cn=ldap-service,ou=users,dc=ldap,dc=goauthentik,dc=io"
      ND_LDAPBINDPASSWORD: "${LDAP_BIND_PASSWORD}"
      ND_LDAPSEARCHFILTER: "(uid=%s)"
	  ND_LDAPAUTOCREATE: "true"
      ND_LDAPUSERNAMEATTR: "uid"
      ND_LDAPEMAILATTR: "mail"
      ND_LDAPNAMEATTR: "cn"
      
    volumes:
      # Données persistantes de Navidrome (base de données, cache, etc.)
      - ./data/navidrome:/data
      
      # Dossier contenant ta musique (à adapter selon ton setup)
      # Remplace "./music" par le chemin vers ta bibliothèque musicale
#      - ./music:/music:ro                      # :ro = read-only pour sécurité
      - /mnt/hetzner/Music:/music:ro                      # :ro = read-only pour sécurité
    
    expose:
      - "4533"
    
    networks:
      - homeserver_network
    
    labels:
      - "homeserver.service=navidrome"
      - "homeserver.type=media"
      - "homeserver.zone=frontend"

      - "traefik.enable=true"
      - "traefik.http.routers.navidrome.rule=Host(`navidrome.homeserver.local`)"
      - "traefik.http.routers.navidrome.entrypoints=web"
      - "traefik.http.services.navidrome.loadbalancer.server.port=4533"

      - "traefik.http.routers.navidrome.middlewares=authentik@docker"

networks:
  homeserver_network:
    external: true

