http:
  middlewares:
    authelia:
      forwardAuth:
        address: http://authelia:9091/api/verify?rd=https://auth.mydia.com
        trustForwardHeader: true
        authResponseHeaders:
          - Remote-User
          - Remote-Groups
          - Remote-Name
          - Remote-Email

  routers:
    # Authelia
    authelia:
      rule: "Host(`auth.mydia.com`)"
      service: authelia
      entryPoints:
        - web
    
    # WireGuard UI
    wg-easy:
      rule: "Host(`wg.mydia.com`)"
      service: wg-easy
      entryPoints:
        - web
      middlewares:
        - authelia
    
    # Navidrome
    navidrome:
      rule: "Host(`music.mydia.com`)"
      service: navidrome
      entryPoints:
        - web
      middlewares:
        - authelia
    
    # Jellyfin
    jellyfin:
      rule: "Host(`stream.mydia.com`)"
      service: jellyfin
      entryPoints:
        - web
      middlewares:
        - authelia

  services:
    authelia:
      loadBalancer:
        servers:
          - url: http://172.20.0.12:9091
    
    wg-easy:
      loadBalancer:
        servers:
          - url: http://172.20.0.10:51821
    
    navidrome:
      loadBalancer:
        servers:
          - url: http://172.20.0.5:4533
    
    jellyfin:
      loadBalancer:
        servers:
          - url: http://172.20.0.6:8096